.bl_checkBpxLabel {
	color: #333333;
	font-size: 14px;
	padding: 0.3em 0.5em;
	letter-spacing: 0.05em;
	display: inline-block;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.8px);
	-webkit-backdrop-filter: blur(6.8px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	transition: background 0.15s;
	&:hover {
		background: rgba(255, 255, 255, 0.13);
		transition: background 0.15s;
	}
}

@media screen and (min-width: 425px) {
	.bl_checkBpxLabel {
		font-size: 16px;
	}
}
