.bl_checkboxList {
	max-width: 1200px;
	width: 96%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 5% auto 0;
	&_li {
		display: inline-block;
		margin: 5px;
	}
}
