.bl_header {
	background: rgba(255, 255, 255, 0.45);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.8px);
	-webkit-backdrop-filter: blur(6.8px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 0;
	z-index: 999;
	h1 {
		text-align: center;
		color: #333333;
		font-weight: bold;
		font-size: 1.5rem;
		letter-spacing: 0.1em;
	}
}

@media screen and (min-width: 1024px) {
	.bl_header {
		h1 {
			font-size: 2rem;
		}
	}
}
