.highcharts-background {
	fill: rgba(255, 255, 255, 0.4);
	filter: blur(2px);
}
.highcharts-axis-labels text,
.highcharts-axis text,
.highcharts-title,
.highcharts-legend-item text {
	fill: #333333 !important;
}
.highcharts-root {
	border-radius: 15px;
}
